<header>
    <div class="top-bar">
        <div class="home-button" onclick="location.href='/homepage';" style="cursor: pointer;">
            <a><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-search"></i>
        </div>
        <!--<div class="top-icons"> -->
            <div class="messages-button" onclick="location.href='/mail';" style="cursor: pointer;">
                <a><i class="fa-solid fa-envelope"></i></a>
            </div>
            <div class="profile-settings">
                <a href="#"><i class="fa-solid fa-user-circle"></i></a>
                <!-- Drop down arrow has to be incorporated here, we'll use a mock arrow for now-->
                <a href="#" id="profile-icon"><i class="fa-solid fa-chevron-down"></i></a>
                <div class="profile-overlay" id="profile-overlay">
                    <div class="profile-menu">
                        <span>Studieadviseur1</span>
                    </div>
                    <div class="logout">
                        <button id="logout-btn" onclick="location.href='/login';" style="cursor: pointer;">Logout</button>
                    </div>
                </div>
            </div>
       <!-- </div> -->
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const profileIcon = document.getElementById('profile-icon');
            const profileOverlay = document.getElementById('profile-overlay');

            profileIcon.addEventListener('click', () => {
                profileOverlay.style.display = profileOverlay.style.display === 'none' || profileOverlay.style.display === '' ? 'flex' : 'none';
            });

            document.addEventListener('click', (event) => {
                if (!profileIcon.contains(event.target) && !profileOverlay.contains(event.target)) {
                    profileOverlay.style.display = 'none';
                }
            });
        });
    </script>
</header>