:root {
    --text-color: #000;
    --background-color: #F3F2F2;
    --uu-color: #FFCD00;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --button-hover-color: #e6b800;
    --input-border-color: #A3A3A3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-box {
    background-color: var(--white-color);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.yellow-line {
    height: 4px;
    background-color: var(--uu-color);
    flex-grow: 1;
    width: calc(100% + 40px);
    margin: 0 -20px;
}

.auth-form {
    text-align: left;
}

.auth-form h2 {
    padding-top: 20px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: normal;
}

.auth-form p {
    text-align: left;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--input-border-color);
    font-size: 14px;
    box-sizing: border-box;
}

.button-group {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.next-button,
.cancel-button {
    padding: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    color: var(--text-color);
}

.next-button {
    background-color: var(--uu-color);
}

.next-button:hover {
    background-color: var(--button-hover-color);
}

.cancel-button {
    background-color: var(--black-color);
    color: var(--white-color);
}