:root {
    --text-color: #000;
    --background-color: #F3F2F2;
    --uu-yellow: #FFCD00;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --button-hover-color: #e6b800;
    --input-border-color: #A3A3A3;
}

.top-bar {
    display: flex;
    align-items: center;
    background-color: var(--uu-yellow);
    padding: 10px;
    justify-content: center;
    gap: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 25px;
    padding: 5px 10px;
    width: 500px;
}

.search-bar i {
    font-size: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
}

.home-button a, .messages-button a, .profile-settings a {
    font-size: 22px;
    color: var(--white-color);
}

.home-button, .messages-button, .profile-settings {
    display: inline-flex;
    background-color: var(--black-color);
    border-radius: 150px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.profile-settings {
    width: 50px;
    height: 30px;
    gap: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}


.profile-overlay {
    position: absolute;
    top: 40px;
    right: 0;
    width: 150px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}

.profile-menu {
    width: 100%;
    padding: 10px;
    background-color: #001f48;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logout {
    width: 100%;
    padding: 10px;
    background-color: #d3d3d3;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logout button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

.logout button:hover {
    text-decoration: underline;
}