:root {
    --background-color: #F1F1F1;
    --border-color: #ddd;
    --separation-line-color: #ccc;
    --past-activity-bg-color: #D9D9D9;
    --main-padding-top: 60px;
    --section-padding: 15px;
    --border-radius: 8px;
    --font-family: Arial, sans-serif;
    --heading-font-size: 1.2em;
    --subheading-font-size: 1em;
    --icon-size: 1.5em;
    --icon-color: #000;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: var(--main-padding-top); /* To account for the fixed header */
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.history, .tasks, .todo-list, .meetings {
    background-color: var(--background-color);
    padding: var(--section-padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.history {
    grid-column: 1 / 2;
}

.tasks {
    grid-column: 2 / 3;
}

.todo-list {
    grid-column: 3/4;
    position: relative;
}

.meetings {
    grid-column: 3 / 4;
}

.seperation-line {
    border-top: 1px solid var(--separation-line-color);
}

.past-activity .activity-item {
    margin-top: 5px;
    padding: 10px;
    background-color: var(--past-activity-bg-color);
    border-radius: var(--border-radius);
}

.edit-icon {
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
}

.task-buttons {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}
.task-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.task-button.view {
    background-color: green;
    color: white;
}
.task-button.dismiss {
    background-color: #dc3545;
    color: white;
}
.task-button.view:hover {
    background-color: green;
}
.task-button.dismiss:hover {
    background-color: #c82333;
}
