:root {
    --text-color: #000;
    --background-color: #F3F2F2;
    --uu-color: #FFCD00;
    --white-color: #FFFFFF;
    --temporary-input-color: #A3A3A3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

.yellow-line {
    height: 4px;
    background-color: var(--uu-color);
    flex-grow: 1;
    width: calc(100% + 40px);
    margin: 0 -20px;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.login-content {
    margin-top: 20px;
}

.login-form{
    text-align: left;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--temporary-input-color);
    font-size: 14px;
    box-sizing: border-box;
}

button[type="button"],
button[type="submit"] {
    padding: 10px;
    background-color: var(--uu-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button[type="button"] :hover,
button[type="submit"]:hover {
    background-color: #e6b800;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
}



