:root {
    --background-color: #f9f9f9;
    --border-color: #ddd;
    --separation-line-color: #ccc;
    --past-activity-bg-color: #e9e9e9;
    --main-padding-top: 60px;
    --section-padding: 15px;
    --border-radius: 8px;
    --font-family: Arial, sans-serif;
    --heading-font-size: 1.2em;
    --subheading-font-size: 1em;
    --icon-size: 1.5em;
    --icon-color: #000;
}
.seperation-line {
    border-top: 1px solid var(--separation-line-color);
}
body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: var(--main-padding-top); /* To account for the fixed header */
}

main{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}
.info {
    grid-column: 1/3;
    border-radius: 10%;
    border-color: 1px, #000;
    background-color: #f9f9f9;
    width: 250px;
    padding: 10px;
    transition: 0.1s;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.conversations {
    grid-column: 2/3;
    border-radius: 10%;
    border-color: 1px, #000;
    background-color: #f9f9f9;
    width: 250px;
    padding: 10px;
    transition: 0.1s;
}
.text {
    font-size: 15px;
}
#chevron {
    width: 15px;
    float: right;
}
