:root {
    --background-color: #F1F1F1;
    --border-color: #ddd;
    --separation-line-color: #ccc;
    --past-activity-bg-color: #D9D9D9;
    --main-padding-top: 60px;
    --section-padding: 15px;
    --border-radius: 8px;
    --font-family: Arial, sans-serif;
    --heading-font-size: 1.2em;
    --subheading-font-size: 1em;
    --icon-size: 1.5em;
    --icon-color: #000;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding-top: var(--main-padding-top); /* To account for the fixed header */
}