<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/2fa.css">
</head>

<body>
    <main>
        <div class="auth-container">
            <div class="auth-box">
                <div class="auth-header">
                    <img src="/images/uulogo.png" alt="Utrecht University Logo" class="logo">
                    <div class="yellow-line"></div>
                </div>
                <div class="info-icon"></div>
                <form class="auth-form">
                    <h2>Authenticator</h2>
                    <p>Please enter the One-Time Password below:</p>
                    <div class="input-group">
                        <input type="text" id="otp" name="otp" placeholder="One-Time Password" required>
                    </div>
                    <div class="button-group">
                        <button type="button" class="next-button" onclick="location.href='/homepage'">Next</button>
                        <button type="button" class="cancel-button" onclick="location.href='/login'">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>