<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gesprekkenlijst</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .back-button {
            font-size: 36px;
            cursor: pointer;
            margin-bottom: 20px;
            display: inline-block;
            color: #002855;
        }

        .conversation-header {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .conversation-subheader {
            font-size: 18px;
            color: #666;
            margin-bottom: 20px;
        }



        .conversation {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
            background-color: #d9d9d9;
            padding-left: 20px;
            padding-right: 20px;
            margin-bottom: 10px;
        }

        .conversation:last-child {
            border-bottom: none;
        }

        .date {
            color: #333;
            font-weight: bold;
        }

        .title {
            flex-grow: 1;
            margin-left: 10px;
            font-weight: bold;
            color: #333;
        }

        .icon {
            font-size: 24px;
            color: #333;
        }

        .seperation-line {
            border-top: 1px #000;
        }
    </style>
        <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <div class="content">
            <div class="back-button">&#x2190;</div>
            <div class="conversation-header">Conversations</div>
            <div class="conversation-subheader">Jan Jansen</div>
            <div class="conversation-list">
                <div class="seperation-line"></div>
                <div class="conversation">
                    <span class="date">23-05-2024</span>
                    <span class="title">Buitenland Master</span>
                    <span class="icon">&#9993;</span>
                </div>
                <div class="seperation-line"></div>
                <div class="conversation" onclick="location.href='/conversation';" style="cursor: pointer;">
                    <span class="date">04-05-2024</span>
                    <span class="title">Buitenland Minor</span>
                    <span class="icon">&#x2709;</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
