<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Detail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            width: 50%;
            height: 50%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding: 20px;
        }

        .content {
            flex-grow: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .back-button {
            font-size: 36px;
            cursor: pointer;
            margin-bottom: 20px;
            display: inline-block;
            color: #002855;
        }

        .conversation-header {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .conversation-details {
            font-size: 18px;
            color: #666;
            margin-bottom: 20px;
        }

        .email-content {
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 8px;
            border: 1px solid #ddd;
            font-size: 18px;
            flex-grow: 1;
        }

        .email-content p {
            margin: 0;
            line-height: 1.5;
            color: #333;
        }
    </style>
        <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <div class="content">
            <div class="back-button">&#x2190;</div>
            <div class="conversation-header">
                <span>04-05-2024</span>
                <span>Buitenland Minor</span>
            </div>
            <div class="conversation-details">
                <span>Jan Jansen</span>
            </div>
            <div class="email-content">
                <p>Dear Study Advisor,</p>
                <br>
                <p>My name is Jan Jansen, and I am currently enrolled in Informatiekunde and I was wondering whether it is possible to meet you to discuss possible minors abroad and what are all the requirements that have to be fulfilled.</p>
            </div>
        </div>
    </div>
</body>
</html>
