<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Include Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/homepage.css">
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="history">
            <h1>Last worked on:</h1>
            <div class="seperation-line"></div>
            <div class="past-activity">
                <div class="activity-item" onclick="location.href='/studentpage';" style="cursor: pointer;">
                    <h3>Jan Jansen - 1234567</h3>
                    <p>Informatiekunde</p>
                    <p><ul><li>Studieadvies</li></ul> </p>
                </div>
            </div>
        </div>
        <div class="tasks">
            <h1>Unfinished task:</h1>
            <div class="seperation-line"></div>
            <li>
                <span class="task-text">Notes | Sterre Wachter - 4723565</span>
                <div class="task-buttons">
                    <button class="task-button view">View</button>
                    <button class="task-button dismiss">Dismiss</button>
                </div>
            </li>
            <li>
                <span class="task-text">Email | Jan Jansen - 1234567</span>
                <div class="task-buttons">
                    <button class="task-button view">View</button>
                    <button class="task-button dismiss">Dismiss</button>
                </div>
            </li>
        </div>
        <div class="todo-list">
            <h1>To-do list</h1>
            <div class="seperation-line"></div>
            <ul>
                <li>Mailen docent introductie project</li>
                <li>Sterre wachters informeren studie keuze</li>
            </ul>
            <div class="edit-icon">
                <i class="fa-solid fa-edit"></i>
            </div>
        </div>
        <div class="meetings">
            <h1>Upcoming meetings</h1>
            <div class="seperation-line"></div>
            <div class="meeting-day">
                <h2>Today</h2>
                <p>12:15 - Drift 21 - Lucas Fort</p>
                <div class="light-seperation-line"></div>
                <p>13:30 - BBG 5.45 - Sterre Wachter</p>
                <div class="light-seperation-line"></div>
                <p>15:00 - Minnaert 1.20 -Obiwan Kenoobi</p>
            </div>
            <div class="seperation-line"></div>
            <div class="meeting-day">
                <h2>Tomorrow</h2>
                <p>14:00 - BBG 5.45 - Guus Schoenmaker</p>
                <div class="light-seperation-line"></div>
                <p>14:30 - BBG 5.45 - Anna Nas</p>
                <div class="light-seperation-line"></div>
                <p>16:00 - Minnaert 1.20 - Jan Jansen</p>
            </div>
        </div>
    </main>
    <script src="/js/editTodo.js" defer></script>
</body>

</html>