<!-- Info icon is still missing-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <div class="login-container">
            <div class="login-box">
                <div class="login-header">
                    <img src="/images/uulogo.png" alt="Utrecht University Logo" class="logo">
                    <div class="yellow-line"></div>
                </div>
                <div class="info-icon"></div>
                <form class="login-form">
                    <h2>Sign in</h2>
                    <p>This Identity Provider needs to validate your identity. Please login to your existing account here so that we can return verification back to your local service.</p>
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <!-- <button type="submit">Continue</button> -->
                    <button type="button" onclick="location.href='/2fa'">Continue</button>
                    <a href="#" class="forgot-password">Forgot password?</a>
                    <!-- Continue button -> Check credentials -> send to 2fa page -->
                </form>
            </div>
        </div>
    </main>
</body>

</html>