<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <!-- Include Font Awesome for icons -->
    <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/studentpage.css">
    <style>
        /* Flexbox and Styling Adjustments */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        main {
            display: flex;
            flex-wrap: nowrap;
            gap: 20px;
            padding: 20px;
            justify-content: center;
            align-items: flex-start;
        }

        .left-side {
            display: none;
            flex-direction: column;
            gap: 20px;
            min-width: 300px;
            max-width: 400px;
        }

        .info, .conversations {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .info {
            background-color: #f0f0f0;
        }

        .info ul {
            padding-left: 20px;
        }

        .conversations {
            flex: 1;
            background-color: #ffffff;
        }

        .conversations h3 {
            margin-top: 0;
        }

        .seperation-line {
            border-bottom: 1px solid #ccc;
            margin: 10px 0;
        }

        .text {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .email-section {
            flex-grow: 1;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        .email-form {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .email-form input,
        .email-form textarea {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .email-form button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #4CAF50;
            color: white;
            cursor: pointer;
            align-self: flex-start;
        }

        .student-select {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .student-select select {
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <!-- Include the standard header/navbar -->
    <div><%- include('../partials/header') %></div>

    <div class="student-select" id="studentSelect">
        <h2>Select a Student</h2>
        <select id="studentDropdown">
            <option value="" disabled selected>Select a student</option>
            <option value="Jan Jansen">Jan Jansen</option>
            <option value="Anna Nas">Anna Nas</option>
        </select>
    </div>

    <main style="display: none;" id="mainContent">
        <div class="left-side" id="leftSide">
            <div class="info" id="studentInfo">
                <!-- Student info will be populated here dynamically -->
            </div>
            
            <div class="conversations" id="conversations">
                <h3>Conversations <img id="chevron" src="/images/chevronright.png"></h3>
                <div class="seperation-line"></div>
                <br>
                <div class="text">Subject: Seeking guidance on course selection</div>
            </div>
        </div>
        
        <div class="email-section">
            <h3>Send an Email</h3>
            <form class="email-form" id="emailForm">
                <input type="text" id="emailSubject" placeholder="Email Subject" required>
                <textarea id="emailContent" placeholder="Email Content" rows="10" required></textarea>
                <button type="submit">Send Email</button>
            </form>
        </div>
    </main>

    <script>
        // JavaScript to handle student selection and form submission
        document.getElementById('studentDropdown').addEventListener('change', function(event) {
            const selectedStudent = event.target.value;
            const studentInfo = document.getElementById('studentInfo');
            const mainContent = document.getElementById('mainContent');
            const leftSide = document.getElementById('leftSide');

            // Update student info based on selected student
            if (selectedStudent === 'Jan Jansen') {
                studentInfo.innerHTML = `
                    <h2>Jan Jansen</h2>
                    <p>Studentnummer: 1234567</p>
                    <p>Date of birth: 01-01-1999</p>
                    <br>
                    <p>Opleiding:</p>
                    <ul>
                        <li>Informatiekunde (2021)</li>
                        <li>Psychologie (2018)</li>
                    </ul>
                `;
            } else if (selectedStudent === 'Anna Nas') {
                studentInfo.innerHTML = `
                    <h2>Anna Nas</h2>
                    <p>Studentnummer: 2345678</p>
                    <p>Date of birth: 02-02-2000</p>
                    <br>
                    <p>Opleiding:</p>
                    <ul>
                        <li>Informatica (2022)</li>
                        <li>Wiskunde (2019)</li>
                    </ul>
                `;
            }

            // Show the main content
            mainContent.style.display = 'flex';
            leftSide.style.display = 'flex';

            // Hide the student select section
            document.getElementById('studentSelect').style.display = 'none';
        });

        document.getElementById('emailForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const subject = document.getElementById('emailSubject').value;
            const content = document.getElementById('emailContent').value;

            if (subject && content) {
                // Construct the email data
                const emailData = {
                    subject: subject,
                    content: content
                };

                // Send the email data to the server
                fetch('/send-email', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(emailData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Email sent successfully!');
                        // Clear the form
                        document.getElementById('emailForm').reset();
                    } else {
                        alert('Failed to send email.');
                    }
                })
                .catch(error => console.error('Error:', error));
            } else {
                alert('Please fill in both the subject and the content.');
            }
        });
    </script>
</body>
</html>

