<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New note</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .main-content {
            width: 100%;
            max-width: 1400px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        
        .back-arrow {
            display: flex;
            justify-content: space-between;
            align-items: left;
            font-size: 24px;
            cursor: pointer;
        }
        .student-info {
            align-items: center;
            text-align: center;
            font-size: 24px;
            margin: 0;
            justify-content: center;
        }
        .form-container {
            width: 100%;
            background-color: rgb(206, 206, 206);
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 20px;
            box-sizing: border-box;
            margin-top: 20px;
            border-radius: 10px;
        }
        .input-field {
            width: 100%;
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 10px;
            overflow: hidden;
            background-color: #e2e2e2;
        }
        .input-field input {
            border: none;
            padding: 10px;
            flex: 1;
        }
        .input-field span {
            background-color: #6b93ff;
            color: white;
            padding: 5px 10px;
            margin-right: 5px;
            border-radius: 10px;
        }
        .input-field textarea {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 10px;
            height: 350px;
            resize: none;
            box-sizing: border-box;
        }
        .buttons{
            display: flex;
            float: right;

        }
        .cancel-button button {
            background-color: #000000;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            color: white;
            margin-right: 10px;
        }
        
        .save-button button {
            background-color: #ffcc00;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
        }

        #notebg {
            padding: 2px;
            background-color: #ccc;
        }
    </style>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="main-content">
       
            <div class="back-arrow">&#8592;</div>
            <div class="student-info">
                <h2>Jan Jansen</h2>
                <p>Studentnumber: 1234567</p>
            </div>
        
        <div class="form-container">
                <div class="input-field">
                    <span>Jan Jansen</span>
                    <span>Studieadviseur</span>
                    <span>Docent</span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="input-field">
                    <textarea placeholder="Note"></textarea>
                </div>
                
                <div class="buttons">
                    <div class="cancel-button">
                        <button>Cancel</button>
                    </div>
                    <div class="save-button">
                        <button>Save</button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>
