<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        /* Main Content */
        .main-content {
            flex: 1;
            padding: 20px;
            width: 800px;
            margin: 0 auto;
        }
        /* Notes Page */
        .notes-page {
            margin-top: 20px;
        }
        .note {
            background-color: #D9D9D9;
            padding: 15px;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .note p {
            margin: 0;
        }
    </style>
        <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="main-content">
        <%- include('../partials/header') %>
        <div class="notes-page">
            <h2>Notes - Jan Jansen</h2>
            <div class="note">
                <p><strong>23-05-2024</strong></p>
                <p>Jan heeft aangegeven dat hij een master wil gaan doen aan een andere universiteit</p>
            </div>
            <div class="note">
                <p><strong>12-05-2019</strong></p>
                <p>Jan kampt momenteel met persoonlijke problemen en zal een cursus laten vallen.</p>
            </div>
        </div>
    </div>
</body>
</html>
