<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        /* Basisstijl voor het lichaam */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        /* Container voor de hele pagina */
        .container {
            width: 100%;
            max-width: 1400px;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        /* Stijl voor de hoofdinhoud van de pagina */
        .main-content {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            gap: 20px;
            flex-grow: 1;
        }

        /* Stijlen voor individuele secties */
        .section {
            flex: 1 1 calc(33% - 40px);
            background-color: #f5f5f5;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .section-header {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .section-content {
            font-size: 16px;
            color: #333;
        }

        /* Specifieke stijlen voor profielsectie */
        .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .profile-info {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .profile-info ul {
            padding-left: 20px;
        }

        .profile-info ul li {
            margin-bottom: 5px;
        }
        #chevron {
             width: 15px;
            float: right;
        }
        .conversations,
        .notes,
        .courses {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .conversations .item,
        .notes .item,
        .courses .item {
            background-color: #ffffff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        }

        .conversations .item p,
        .notes .item p,
        .courses .item p {
            margin: 0;
            font-size: 14px;
            color: #666;
        }

        /* Specifieke stijlen voor statistieken */
        .statistics {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }

        .statistics .circle {
            width: 100px;
            height: 100px;
            border: 10px solid #4CAF50;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .tab-buttons {
            display: flex;
            margin-top: 10px;
            border-radius: 20px;
            background-color: #a3a3a3;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }

        .tab-button {
            flex: 1;
            padding: 10px 15px;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            
        }

        .tab-button.active {
            background-color: #ffc107;
        }

        .tab-button:not(.active) {
            background-color: #a3a3a3;
        }

        .courses-list {
            padding-left: 20px;
            margin-top: 10px;
            font-size: 16px;
            color: #666;
        }
        #plus {
        float: right;
        width: 50px;
        }
    </style>
        <script src="https://kit.fontawesome.com/0c8d3e1557.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/header') %>
        <!-- Hoofdinhoud -->
        <div class="main-content">
            <!-- Profielsectie -->
            <div class="section profile">
                <div class="profile-info">
                    <h2>Jan Jansen</h2>
                    <div class="seperation-line"></div>
                    Studentnummer: 1234567<br>
                    Date of birth: 01-01-1999<br><br>
                    Opleiding:
                    <ul>
                        <li>Informatiekunde (2021) &#x23F3;</li>
                        <li>Psychologie (2018) &#x2705;</li>
                    </ul>
                </div>
            </div>

            <!-- Gesprekken -->
            <div class="section conversations">
                <div class="section-header">Conversations</div>
                <div class="item">
                    <strong>Subject: Seeking Guidance on Course Selection</strong><br>
                    <p>Dear Study Advisor,</p>
                    <p>My name is Jan Jansen, and I am currently enrolled in Informatiekunde and I was wondering...</p>
                </div>
                <!-- Meer gesprekken kunnen hier worden toegevoegd -->
            </div>

            <!-- Notities -->
            <div class="section notes">
                <div class="section-header">Notes <img id="chevron" src="/images/chevronright.png" onclick="location.href='/notespage';" style="cursor: pointer;"></div>
                <div class="item">
                    <strong>Yesterday - 12:38</strong><br>
                    <p>Jan has indicated that he wants to do master at a different university</p>
                </div>
                <div class="item">
                    <strong>12-05-2019</strong><br>
                    <p>Jan is currently dealing with personal problems and will drop one course.</p>
                </div>
                <!-- Meer notities kunnen hier worden toegevoegd -->
                 <div onclick="location.href='/newnote';" style="cursor: pointer;"><br><img id="plus" src="/images/plus.png"></a></div>
            </div>

            <!-- Statistieken -->
            <div class="section statistics">
                <div class="section-header">Psychologie</div>
                <div class="tab-buttons">
                    <div class="tab-button active"><b>Psychologie</b></div>
                    <div class="tab-button"><b>Informatiekunde</b></div>
                </div><br>
                <div class="circle">180/180</div>
                <div>Weighted average: 7.23</div>
            </div>

            <!-- Cursussen -->
            <div class="section courses">
                <div class="section-header">Courses</div><div class="item" 
                <div class="item" onclick="window.open('https://osiris.uu.nl/osiris_student_uuprd/OnderwijsCatalogusSelect.do?selectie=cursus&collegejaar=2024&cursus=INFOB1IUW');" style="cursor: pointer;">
                    Informatie Uitwisseling
                </div>
                <div class="item">
                    Sociale Psychologie
                </div>
                <div class="item">
                    Psychometrie
                </div>
                <div class="item">
                    Arbeidspsychologie
                </div>
                <div class="item">
                    Psychologische gespreksvoering
                </div>
                <!-- Meer cursussen kunnen hier worden toegevoegd -->
            </div>
        </div>
    </div>
</body>
</html>
